# r things
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# python/conda things
__pycache__
environment/
condaenv.l8rr463d.requirements.txt
.idea/

# directories for local execution
processing/
audio_in/
local*/
models/
output*/
training/
